<!DOCTYPE html>
<html lang="en" th:replace="~{layout/adminLayout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>

</head>
<body>
<main role="main">
    <div class="container mt-5 my-5">
        <div class="mb-3">
            <a href="" th:href="@{'/?lang=us'}" class="mr-1"> US</a>
            <a href="" th:href="@{'/?lang=fr'}" class="mr-1"> French</a>
            <a href="" th:href="@{'/?lang=de'}"> German</a>
        </div>
        <h3>Student Form</h3>
        <div th:replace="~{/fragments/studentForm.html :: stuForm}"></div>
    </div>
</main>

</body>
</html>